################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LinFu.Finders/v15
/bin/Debug
/obj
